body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ace6ee; 
    overflow-x: hidden;
}
  
h1 {
    color: #000000; 
    font-size: 36px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

innertext {
    color: #000000;
    font-size: 24px;
    min-height: 100vh;
}

left {
    left: 25%;
    width: 40%;
    height: 40%;
    top: 60%;
    background-color: #ace6ee;
    border-radius: 10px;
    border: 5px solid #000000;
}

right {
    left: 75%
    width: 40%;
    height: 40%;
    top: 60%;
    background-color: #ace6ee;
    border-radius: 10px;
    border: 5px solid #000000;
}
